* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.root-container {
  height: 100vh;
  width: 40vw;
  /* border: 1px dashed black; */
  margin: auto;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.5em;
  margin-bottom: 0px;
  /* border: 1px dashed blue; */
  border-radius: 4px;
  flex-wrap: wrap; /* Good for small screens */

  font-size: 18px;
}

.actions {
  display: flex;
  gap: 8px;
  /* margin-left: auto; Pushes buttons to the end */
}

.task {
  display: flex;
  flex-direction: row;
  gap: 8px;

  /* border: 1px solid green; */
  width: 250px;
}

.logo-icon {
  width:20px;
  height: 20px;
  cursor: pointer;
}

body {
  background: linear-gradient(to right, #ff5fcf, #feb47b);  /* orange to peach */

}
